@push('script')
    <script>
        $(document).ready(function() {
            // Fungsi untuk memeriksa apakah semua input telah valid
            $('#simpan').prop('disabled', true);

            function validateForm() {
                // Lakukan validasi input di sini, misalnya:
                var nama = $("#namaa").val();
                var nomorHP = $("#nomorHP").val();
                var emaill = $("#emaill").val();
                var unitUsaha = $("#unitUsaha").val();
                var alamatt = $("#alamatt").val();

                // Cek apakah semua input telah diisi
                if (nama !== '' && nomorHP !== '' && emaill !== '' && unitUsaha !== '' && alamatt !== '') {
                    // Aktifkan tombol Simpan jika semua input valid
                    $('#simpan').prop('disabled', false);
                } else {
                    // Nonaktifkan tombol Simpan jika ada input yang belum valid
                    $('#simpan').prop('disabled', true);
                }
            }

            // Panggil fungsi validateForm saat input berubah
            $('#nama').on('change', validateForm);
            $('#nomorHP').on('change', validateForm);
            $('#emaill').on('change', validateForm);
            $('#unitUsaha').on('change', validateForm);
            $('#alamatt').on('change', validateForm);
        });
    </script>
@endpush

<!-- edit -->
@push('script')
    <script>
        $(document).ready(function() {
            // Fungsi untuk memeriksa apakah semua input telah valid
            validateForm();

            function validateForm() {
                // Lakukan validasi input di sini, misalnya:
                var nama = $("#nama").val();
                var nomorHP = $("#nomor_hp").val();
                var emaill = $("#email").val();
                var unitUsaha = $("#unit_usaha").val();
                var alamatt = $("#alamat").val();
                var password = $("#password").val();
                var manajer = $("#manajer").is(":checked");
                var kasir = $("#kasir").is(":checked");
                var owner = $("#owner").is(":checked");

                // Cek apakah semua input telah diisi atau kondisi yang diinginkan
                if (nama !== '' && nomorHP !== '' && emaill !== '' && unitUsaha !== null && alamatt !== '' &&
                    password !== '' &&
                    (manajer || kasir || owner)) {
                    // Aktifkan tombol Simpan jika semua input valid
                    $('#simpan').prop('disabled', false);
                } else {
                    // Nonaktifkan tombol Simpan jika ada input yang belum valid
                    $('#simpan').prop('disabled', true);
                }
            }

            // Panggil fungsi validateForm saat input berubah atau nilai checkbox berubah
            $('#nama, #nomor_hp, #email, #unit_usaha, #alamat, #password, #manajer, #kasir, #owner').on(
                'input change', validateForm);
        });
    </script>
@endpush